@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
    --font-sans: 'Inter var', sans-serif;
    
    --color-bank-panel: hsl(251, 30%, 7%);
    --color-bank-main: hsl(252, 26%, 4%);
    --color-bank-comp: hsl(249, 25%, 10%);
    --color-bank-purple: hsl(269, 59%, 47%);
}

@layer base {
    table {
        @apply text-left border-collapse;
    }
    th{
        @apply text-left p-4 text-gray-400 font-medium text-base;
    }
    thead {
        @apply bg-bank-panel sticky z-10 top-0 border-b border-b-gray-800 ;
    }
    tbody{
        @apply divide-y divide-gray-800;
    }
    td{
        @apply p-4  text-gray-300 text-base;
    }
}

.scrollbar-none {
    -ms-overflow-style: none;  /* IE/Edge */
    scrollbar-width: none;     /* Firefox */
}
.scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
}


/*callback animation*/
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 0.6;
        transform: translateY(0);
    }
}

@keyframes shimmer {
    0% {
        background-position: -200% center;
    }
    100% {
        background-position: 200% center;
    }
}

.animate-shimmer {
    background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.3) 0%,
            rgba(139, 92, 246, 1) 50%,
            rgba(255, 255, 255, 0.3) 100%
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shimmer 4s linear infinite;
}

.animate-fade-in {
    animation: fade-in 0.5s ease-out;
}

.animate-slide-up {
    animation: slide-up 0.8s ease-out 0.3s both;
}


